<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Homepage Prof. Marcelo Bezerra de Alcântara</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  <header>

    <div class="wrapper">
      <h1 class="texto">Feira da serrinha</h1>
      <nav>
        <ul>
          <li id="home"><a href="#"> Home</a></li>
          <li><a href="#loc">localização</a></li>
          <li><a href="#produtos">produtos</a></li>
          <li><a href="#conteudo-principal">Artigos</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="image-principal">
  </section>

  </section>
  <section id="conteudo-principal">
    <div class="wrapper" id="loc">
      <article>
        <h3>Onde estamos?</h3>
        <p>Estamos localizados na rua Montevidéu, numero 103 no bairro serrinha.</p>
        <p>Funcionamos toda sexta feira na parte da manhã. Segue abaixo o nosso link do google maps com a localização da feira:</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.1033620683957!2d-38.54554228488287!3d-3.7876758972444993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74fc09165ea4b%3A0xc5a18ba135d2313f!2sFeira%20da%20Serrinha!5e0!3m2!1spt-BR!2sbr!4v1655574905515!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </article>
    </div>
  </section>

  <section id="conteudo-principal">
    <div class="wrapper">
      <article>
        <h3>Nossos produtos</h3>
        <section id="produtos">
          <div class="card" id="carditem2">
            <img src="https://cdn.pixabay.com/photo/2018/08/29/19/03/steak-3640560_960_720.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Carnes variadas</b></h4> 
            </div>
          </div>

            <div class="card" id="carditem1">
              <img src="https://cdn.pixabay.com/photo/2017/08/06/06/55/comics-2589659_960_720.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>Dvd's de filmes e jogos</b></h4> 
              </div>
            </div>

            <div class="card" id="carditem2">
              <img src="https://cdn.pixabay.com/photo/2016/11/22/19/08/hangers-1850082_960_720.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>roupas</b></h4> 
              </div>
            </div>

            <div class="card" id="carditem1">
              <img src="https://cdn.pixabay.com/photo/2013/07/19/00/18/seafood-165220_960_720.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>frutos do mar</b></h4> 
              </div>
            </div>
            

        </section>
      </div>
     </section>
    </section>



     <section id="conteudo-principal">
      <div class="wrapper">
        <article>
          <h3>Vendedores</h3>
          <section id="vendedores">

            <div class="card" id="carditem1">
              <img src="https://cdn.pixabay.com/photo/2021/07/02/03/17/culture-6380756_960_720.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>Dona Lucinda</b></h4> 
                <p style="padding:10px ;">Dona Lucinda a mais de 3 anos vem vendendo roupas e acessorios de moda na feira da Serrinha, uma otima pessoa, mae 
                  de 2 filhos muito querida pelo publico da feira</p>
              </div>
            </div>

            <div class="card" id="carditem1">
              <img src="https://cdn.pixabay.com/photo/2015/01/09/17/34/asian-594582_960_720.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>Lee</b></h4>
                <p style="padding:10px">Lee, chinês que trabalha na feira, vende livros, jogos dvds e cds na feira a mais de 5 anos</p> 
              </div>
            </div>

            <div class="card" id="carditem1">
              <img src="https://cdn.pixabay.com/photo/2013/07/13/13/42/turkey-161401_960_720.jpg" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>Seu Carlos</b></h4>
                <p style="padding:10px">Seu Carlos vende Carnes e legumes na feira da Serrinha a mais de 15 anos, natural do proprio bairro, foi um dos primeiros vendedores da feira
                muito querido e popular pela população local</p> 
              </div>
            </div>

          </section>
        
        </article>
      </div>
    </section>

    <section id="conteudo-principal">
      <div class="wrapper">,
        <article id="depoimentos">
          <h3>depoimentos da população</h3>
          <section>
          <p>"Adoro fazer compras aqui, sempre tem otimos preços, produto fresquinho, os vendedores sempre simpaticos também,
             sem falar na grande variedade de mercadorias que tem por aqui"  - Lucia, moradora local</p>
          </section>

          <section>
            <p>"Faço compras por aqui desde criança, quando eu tinha um playstation 2 e vinha comprar jogos na feira com meus pais, hoje venho comprar mais
              coisas como roupas e comidas também"  - João, morador local</p>
            </section>

            <section>
              <p>"Como um dos promeiros vendedores daqui, posso dizer que a vizinhança são otimas pessoas, gosto muito de trabalhar aqui"  - Seu Carlos, Vendedor</p>
              </section>


          </article>


      </div>



    </section>


  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        <p>Copyright 2022. All rights reserved.</p>
      </section>
      <section id="links-rodape">
        <ul>
          <li>
            <h5>Links</h5>
          </li>
          <li><a href="https://www.uni7.edu.br/">Uni7</a></li>
          <li><a href="mailto:mbacefor@gmail.com">Marcelo Alcântara</a></li>
        </ul>
      </section>
    </div>
  </footer>
</body>

</html>